div >a{
    font-weight: 700;
    color:var(--main-color);
    text-decoration: none;
}

.nav-link{
    color: white;
    transition: all 1s;
}
nav{
    background-color: rgb(68, 67, 67);
    
}
.nav-link:hover{
    color: red;
}
.background{
    height: 100dvh;
    background: linear-gradient(rgba(0, 0, 0, 0.712)),url('header.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    align-content: center;
}
.animbg h1{
     color: var(--main-color);
     text-transform: uppercase;
     font-size: 60px;
}
.animbg h4{
    color: white;
}
:root{
    --main-color:rgb(219, 43, 43);
}
.animbg{
    margin-bottom: 20px;
}
.animbg{
    color: white;
    text-transform: capitalize;
    font-size: 25px;
    line-height: 20px;
}
 .animbg h2::after{
   content: "";
   animation: parg 5s 1s ease-out infinite;
}
@keyframes parg{
    0%{
         
         content: "|";
    }
    5%{

        content: "d|";
    }
    10%{
        
        content: "de|";
    }
    15%{
         content: "des|";
    }
    20%{
        content: "desig|";
    }
    25%{
        content: "design|";
    }
    30%{
        content: "designe|";
    }
    35%{
        content: "designer|";
    }
    40%{
        content: "|";
    }
    45%{
        content: "de|";
    }
    50%{
        content: "deve|";
    }
    55%{
        content: "develo|";
    }
    60%{
        content: "develope|";
    }
    65%{
        content: "developer|";
    }
}
.pic img{
    position: relative;
}
 .bkg{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 1;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgb(145, 141, 141));
    transform-origin: top center;
    height: 0;
    opacity: 0;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}






